/* General Page Styling */
body, html{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
     overflow: hidden;
}

#weather-app {
    position: relative;
    z-index: 10;
    color: #787576;
    text-align: center;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

a {
    color: #885df1;
}

/* Main Weather App Styling */
.weather-app {
    background: transparent;
    opacity: 100%;
    max-width: 800px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
}

/* Form Styling */
header {
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
}

.search-form-input {
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 18px;
    padding: 15px 20px;
}

.search-form-button {
    background: turquoise;
    padding: 15px 30px;
    border: none;
    font-size: 18px;
    margin-left: 5px;
    border-radius: 6px;
    color: beige;
}

main {
    padding: 30px 0;
}


#forecast {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}
 

/*
#forecast .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
*/

.forecast-container {
    flex: 1;
    justify-content: space-around;
      flex-wrap: nowrap;
        padding: 10px;
   }


.weather-forecast-day {
    flex: 1 1 5%;
    max-width: 5px;
    text-align: center;
   
}

.weather-forecast-date {
    font-weight: bold;
    color: #811f51;
    font-size: 16px;
    margin-bottom: 10px;
}

.weather-forecast-icon {
    font-size: 30px;
    display: flex;
    border: none;
    vertical-align: none;
    box-sizing: none;
    padding-bottom: 30px;
}


.weather-forecast-temperatures {
    display: flex;
    justify-content: space-between;
    gap: 3px;
    /* Space between max and min temperatures */
    flex-wrap: nowrap;
    padding-top: 10px;
}

.weather-forecast-temperature-max {
    font-weight: bold;
    color: #f65282;
}

.weather-forecast-temperature-min {
    color: #333;
}

/* Weather App Data Section */
.weather-app-data {
    display: flex;
    justify-content: space-evenly;
}

.weather-app-city {
    margin: 0;
    color: #811f51;
    padding-top: 20px;
    font-size: 88px;
    line-height: 12px;
}

.weather-app-details {
    font-size: 16px;
    color: rgba(37, 14, 156, 0.4);
    line-height: 24px;
    font-weight: 500;
}

.weather-app-details strong {
    color: #f65282;
}

/* Temperature Section */
.weather-app-temperature-container {
    margin-bottom: 10px;
    padding: 30px;
    display: flex;
    align-items: center;
}

.weather-app-temperature {
    font-size: 88px;
    font-weight: bold;
}

.weather-app-units {
    font-size: 28px;
    color: #811f51;
}

/* Footer Section */
footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 600px) {
    .forecast-container {
        grid-template-columns: repeat(2, 1fr);
        /* Change layout for small screens */
    }
}